<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/Resources/Styles/galerie_statica.css">
    <link rel="stylesheet" href="/Resources/Styles/galerie_animata.css">
    <link rel="stylesheet" href="/Resources/Styles/galerii.css">
    <script src="/Resources/JavaScript/galerie.js"></script>
    <title>Galerii</title>
</head>
<body>
    <div id="container">
        <%- include("../fragmente/header.ejs") %>

        <button id="switch">Switch</button>

        <section id="galerie_statica">
            <%- include("../fragmente/galerie_statica.ejs") %>
        </section>

        <section id="galerie_animata">
            <%- include("../fragmente/galerie_animata.ejs") %>
        </section>

        <%- include("../fragmente/footer.ejs") %>
    </div>
</body>
</html>